.Griglia {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 33%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1.25rem;
    width: 36vw;
}
.stella {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 15vh;
}